$primary-color: #4082A0;
$primary-color-hover: darken($primary-color, 15%); //#255977;
$contrast-text-color: #FFFFFF;
$text-color: #333333;
$transparent: transparent;
$link-color: $primary-color;
$shadow-color: #999;